* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #f3ecec;
}

@font-face {
    font-family: StratosSkyeng;
    src: url("/statosskyeng-v1.001/Desktop\ fonts/stratosskyeng-regular.otf") format("opentype");
}

body {
    display: flex;
    
    padding: 158px 272px 157px 272px;
    justify-content: center;
    align-items: center;
    background: var(--blue-120, #004980);
}

.game {
    min-width: 480px;
    min-height: 459px;
    row-gap: 40px;
    border-radius: 12px;
    background: #C2F5FF;  
    display: flex;
    flex-direction: column; 
    align-items: center; 

}
.title {
    margin-top: 52px;
    color: #004980;
    text-align: center;
    font-size: 40px;
    font-family: StratosSkyeng;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
}
.levels {
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    margin-right: 70px;
    gap: 26px;

}
.level {
    display: flex;
    width: 97px;
    height: 98px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 12px;
    background: white;
    color: var(--blue-100, #0080C1);
    text-align: center;
    font-size: 64px;
    font-family: StratosSkyeng;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
}

.level:hover {
    box-shadow: 0px 5px 10px rgba(23, 63, 143, 0.5);
}

.level-input {
    appearance: none;
}
.chosen {
    border: 3px solid #0080C1;
    box-sizing: border-box;
}

.start-button {
    display: flex;
    width: 246px;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    width: 246px;
    height: 50.003px;
    flex-shrink: 0;
    align-items: center;
    background-color: #7AC100;
    border-radius: 12px;
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: 24px;
    font-family: StratosSkyeng;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    border: none;
}

.start-button:hover {
    background-color: #dde072;
}


